/* Partes Web */
@import url(./statics/css/header.css);
@import url(./statics/css/descripcion-pagina.css);
@import url(./statics/css/footer.css);
/* Fin Partes Web */

/* Secciones Web */
@import url(./statics/css/reservas.css);
/* Fin Secciones Web */


/* Componentes */
@import url(./statics/css/acordeon.css);
@import url(./statics/css/inputs.css);
/* Componentes */


body {

    color: black;

}

h1, h2, h3, h4, h5 {

    font-family: NTF-Grand-Medium;

}

/* Fuentes */

@font-face {

    font-family: NTF-Grand-Medium;
    src: url(./statics/fonts/NTF-Grand-Medium.otf) format('opentype');

}

@font-face {

    font-family: NTF-Grand-Light;
    src: url(./statics/fonts/NTF-Grand-Light.otf) format('opentype');

}

/* Fin Fuentes */

